<nav class="header-nav">
    <a class="header-title" href="/">Home</a>
    <ul>
        <li><a class="header-link" href="/projects">All Projects</a> </li>      
        <li><a class="header-link" href="/items">All ToDos</a></li>
    </ul>
</nav>