<% const now = new Date().toISOString() %>
<% const duedate1 = project.duedate1.toISOString() %>
<% function secToDays(sec){%>
    <% var days = Math.floor(sec/86400000) %> 
    <% return days %> 
<% } %>   
<% if(duedate1 >= now){ %> 
<div>
    Due in <%= secToDays((project.duedate1- new Date())) %> days
</div>
<% } else{ %> 
    <div> Prj is over due <%= (new Date() - project.duedate1) %> days </div>
<% } %> 