<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple To-DO List</title>
</head>
<body>
    <%- include('../partials/navBar.ejs') %> 
    <br>
    <%- include ('../partials/errorMessage.ejs') %>
    <br>
    <%- include('../partials/sidebar.ejs'), {projectss:projectss} %>
    <%- body %>
    <br> 
</body>
</html>