@import 'shared/fonts.css';
@import 'shared/variables.css';
@import 'shared/buttons.css';
@import 'shared/form.css';
@import 'shared/projects.css';
@import 'shared/priority.css';
@import 'shared/sidenav.css';
@import 'shared/timeline.css';
@import 'shared/cards.css';

:root{
    font-family: 'Gotham Rounded';
    font-size: 20px;
    color: var(--color-text-light) ;
}

*, *::before, *::after{
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right, var(--color-background-dark), var(--color-background-light));
}

.container{
    max-width: 1200px;
    margin: auto;
    margin-bottom: 3rem;
}

.inner-container{
    margin: 0 2rem;
}

.page-header{ 
    font-size: 2rem;
    font-weight: 500;
}

.flex-container{
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    flex-basis: content;
    height: 600px;
    justify-content: space-evenly;
}

.item1{
    margin-top: 60px;
    flex-grow: 0;
}
.item2{
    flex: 2;
    flex-grow: 4;
    margin-left: 60px;
}

.item3{
    flex: 2;
    flex-grow: 4;
    margin-left: 60px;
    border-radius: 30px;
    background-color: #0074d9;
    max-height: 200px;
    padding: 40px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}