<h2 class="page-header">Create a New Project</h2>
<br>

<form action="/projects" method="POST">
    <%- include('_form_fields') %> 
    <a href="/">Cancel</a>
    <button type="submit">Create</button>
</form>
